*{
    font-family: 'Itim', cursive;
}

.calendar{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    width: 100%;
    grid-column-gap: 0;
}

.calendar a{
    border: solid #ccc .5px;
    height: 25px;
    width: 100%;
}

.calendar div{
    display: flex;
    flex-direction: column;
}

.weeks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.months{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(13,1fr);
}

.months span{
    text-align: center;
}

main{
    display: grid !important;
    grid-template-columns: repeat(2,1fr);    
}

.emotions{
    text-align: center;
}

i{
    font-size: 40px;
}

.v-happy:hover{
    color: red;
}

.happy:hover{
    color: orange;
}

.meh:hover{
    color: yellow;
}

.sad:hover{
    color: teal;
}

.v-sad:hover{
    color: blue;
}

.erase:hover{
    color: #ccc;
}

@media (max-width: 600px) {
    main{
        grid-template-columns: 1fr;    
    }
    .emotions{
        order:-1;
    }
}